{% extends 'reservation/home.html' %}
{% block title %} Изменение пароля пользователя {% endblock %}
{% block content %}
<div class="custom-user-bg ">
    <div class="custom-input">
        <div class="container custom-margin">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <h2>Изменить пароль</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-end mt-3">
                    <button class="p-2 btn btn-outline-success me-2" type="submit">Изменить пароль</button>
                    <a class="p-2 btn btn-outline-primary" href="{% url 'user:user_profile' user.id %}">Назад к профилю</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
