{% extends 'reservation/home.html' %}
{% load my_tags %}
{% block content %}
<div class="custom-user-list-bg">
    <div class="row">
        <div class="col-md mt-5">
            <div class="card mt-5" style="width: 18rem;">
          <img src="{{ user_profile.avatar.url }}" class="card-img-top" alt="avatar">
          <div class="card-body" style="background-color: rgba(0, 0, 0, 0.7); color: white;">
            <h5 class="card-title">Детали пользователя: {{ user_profile.username }}</h5>
            <p class="card-text"><ul>
                    <li><strong>Email:</strong> {{ user_profile.email }}</li>
                    <li><strong>Имя:</strong> {{ user_profile.first_name }}</li>
                    <li><strong>Номер телефона:</strong> {{ user_profile.phone_number }}</li>
                    <li><strong>Страна:</strong> {{ user_profile.country }}</li>
                </ul>
              </p>
              <div class="d-flex justify-content-between">
            <a href="{% url 'user:change_password' %}" class="btn btn-primary flex-fill ms-1">Изменить пароль</a>
            <a href="{% url 'user:user_update' user.id %}" class="btn btn-primary flex-fill ms-1">Редактировать</a>
              </div>
          </div>
        </div>
    </div>
    <div class="col-md-8">
        <main class="container ">

      <div class="starter-template text-center py-5 px-3 mt-5">


        <h1>История бронирований</h1>
        {% if reservations %}
        <table class="table-transparent mt-5">
      <thead>
        <tr>
          <th scope="col">Дата</th>
          <th scope="col">Время бронирования</th>
          <th scope="col">Гость</th>
          <th scope="col">Количество гостей</th>
          <th scope="col">Номер стола</th>
          <th scope="col">Статус</th>
          <th scope="col">Статус</th>
          <th scope="col">Управление</th>
        </tr>
      </thead>
            {% for reservation in reservations %}
      <tbody>
        <tr>
          <th scope="row">{{ reservation.date|date:"d.m.Y" }} </th>
          <th scope="row">{{ reservation.time|date:"H:i" }}</th>
          <td>{{ reservation.name }}</td>
          <td>{{ reservation.guests}}</td>
          <td>{{ reservation.table.number}}</td>
          <td>{{ reservation.table.get_status_display}}</td>
          <td>{{ reservation.get_status_display}}</td>
            <td>
                <a href="{% url 'reservation:reservation_detail' reservation.id %}" class="btn btn-primary w-100 me-1 mb-1">Подробнее</a>
                {% if user == reservation.user or user.is_staff%}
                <form action="{% url 'reservation:reservation_cancel' reservation.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-dark w-100 me-1">Отменить бронь</button>
                </form>
                {% endif %}
            </td>
        </tr>
      </tbody>
            {% endfor %}
    </table>
    {% else %}
    <p>У Вас нет активных бронирований.</p>
    {% endif %}
    <div class="d-flex justify-content-end mt-5">
        {% if not is_manager %}
        <a href="{% url 'reservation:reservation_table' %}" class="btn btn-warning">Создать бронирование</a>
        {% endif %}
    </div>
 </div>
</main>
<
    </div>
</div>
</div>
{% endblock %}
